<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Loguéate PRUEBA GIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <strong>Ready to fuck?</strong>
    <p>Nobody does it better <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Naugthy America</a></p>
  </div>

  <div>
    <ul>
      <li routerLink = '/admin' style= "color: blue; cursor: pointer; list-style: none;"> ADMIN</li>
    </ul>
    <ul>
      <li routerLink = '/user' style= "color: blue; cursor: pointer; list-style: none;"> USER</li>
    </ul>
    <ion-button expand="full" (click)="loginMetamask()">Iniciar sesión con MetaMask</ion-button>
  </div>
</ion-content>
